html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.forty-char {
    width: 140ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.post{
    width: auto;
}
.card{
    display:inline-table;
}